*{
    margin: 0;
    padding: 0;
    font-family: 'poppins', sans-serif;
    box-sizing: border-box;
}
body{
    background-color: black;
    color: #fff;
}
.head{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)), url(netflix-img/images/header-image.png);
    background-size: cover;
    background-position: center;
    padding: 10px 8%;
    position: relative;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
}
.logo{
    width: 150px;
    cursor: pointer;
}
nav button{
    border: 0;
    outline: 0;
    background: #db0001;
    color: #fff;
    padding: 9px 20px;
    font-size: 15px;
    border-radius: 4px;
    cursor: pointer;

}

.header-content{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    margin-top: 60px;
}
.header-content  h1{
    font-size: 35px;
    line-height: 80px;
    font-weight: 700;
    max-width: 650px;    
}
.header-content h3{
    font-weight: 400;
    margin-bottom: 20px;
}

.btn {
    padding: 3px 8px;
    font-weight: 100;
    color: white;
    background-color: rgba(248, 243, 243, 0.021);
    border-radius: 4px;
    border: 1px solid white;
    cursor: pointer;

}

.btn-red {
    background-color: red;
    color: white;
    padding: 3px 24px;
    font-size: 20px;
    border-radius: 4px;
    font-weight: 400;
}

.btn-red-sm {
    background-color: red;
    color: white;
}
.hero-buttons {
    display: flex;
    margin-top: 30px;
    align-items: center;
    justify-content: center;
    gap: 16px;
}
.hero-buttons input{

    padding: 7px 101px 8px 14px;
    color: white;
    font-size: 12px;
    border-radius: 4px;
    background-color: rgba(23, 23, 23, 0.7);
    border: 1px solid rgba(246, 238, 238, 0.5);
}
/*.signup{
    
    background-color: #303030;

    border-radius: 4px;
    margin: 10px 30px;
    margin-left: 100px;
    padding: 1px 10px;
    width: 300px;
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin-top: 30px;
    /*overflow: hidden;
    
}

.signup input{
    background-color: #303030;
    font-size: 15px;
    flex: 1;
    border: 0;
    outline: 0;
    margin-left: 20px;
    margin-right: 10px;
    padding: 5px;
    

}
.signup button{
    background-color: #db0001;
    border-radius: 4px;
    margin-left: 100px;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 16px;
    cursor: pointer;
    padding: 15px 50px;
}
*/



/*Section start here*/

.features{
    padding: 50px 12%;
    font-size: 22px;
}
.row{
    display: flex;
    width: 100%;
    align-items: center;
    flex-wrap: wrap;
    padding: 50px 0;
}
.text-col{
    flex-basis: 50%;
    margin-bottom: 20px;

}
.img-col{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.img-col img{
    display: block;
    width: 90%;
    margin: auto;
}
.features h2{
    font-size: 50px;
    font-weight: 600;
    margin-bottom: 20px;
}


/*faq section start here*/

.faq{
    padding: 10px 12%;
    text-align: center;
    font-size: 18px;
}
.faq h2{
    font-weight: 500;
    font-size: 40px;
}

.accordion{
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}
.accordion li{
    list-style: none;
    width: 100%;
    padding: 5px;
}
.accordion li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 18px;
    font-weight: 500;
    background: #303030;
    margin-bottom: 2px;
    cursor: pointer;
    position: relative;


}
label::after{
    content: '+';
    font-size: 34px;
    position: absolute;
    right: 20px;
    transition: transform 0.5s;
}
input[type="radio"]{
    display: none;
}
.accordion .content{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.5s, padding 0.5s;
}
.accordion input[type="radio"]:checked + label +.content{
    max-height: 600px;
    padding: 30px 20px;
}
.accordion input[type="radio"]:checked + label::after{
    transform: rotate(135deg);
}
.faq .signup{
    max-width: 600px;
    margin: 10px auto 60px;
}
.faq small{
    font-size: 13px;
}


/* footer section */

.foot{
    padding: 50px 15% 10px;
    border-top: 6px solid #333;
    color: 777;
}
.foot h2{
    font-size: 18px;
    font-weight: 400;
    margin-bottom: 30px;
}
.foot .col{
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;
}
.foot .col a{
    display: block;
    text-decoration: none;
    color: #777;
    font-size: 14px;
    margin-bottom: 10px;
}
.foot .row{
    align-items: flex-start;
    padding: 10px 0;
}
.foot .language-btn{
    display: inline-flex;
    align-items: center;
    background-color: transparent;
    color: #fff;
    border: 1px solid #fff;
    padding: 10px 20px;
    border-radius: 3px;
    cursor: pointer;
}

.foot .language-btn img{
    width: 10px;
    margin-left: 10px;
}

.copyright-text{
    font-size: 14px;
    margin-top: 20px;
    margin-bottom: 10px;
}

/* media queries for small screen */

@media only screen and (max-width: 600px){
    .logo{
        width: 100px;
    }
    nav button{
        width: 90px;
    }
    .header-content{
        position: unset;
        transform: none;
        padding-top: 120px;
    }
    .header-content h1{
        font-size: 30px;
    }
    .signup button{
        font-size: 12px;
        padding: 10px 15px;
    }

    .text-col, .img-col{
        flex-basis: 100%;
    }
    .features h2{
        font-size: 30px;
    }
    .features p{
        font-size: 15px;
    }

    .row:nth-child(2), .row:nth-child(4){
        flex-direction: column-reverse;
    }

    .features .row{
        padding: 10px 0;
    }

    .faq{
        font-size: 20px;
    }
    .accordion .content{
        font-size: 14px;
    }
    .accordion li label{
        padding: 10px;
        font-size: 14px;
    }
    label::after{
        font-size: 22px;
    }

}